.p-header-fixed {
  padding-top: var(--heigth-header);
}

.display-footer-fixed {
  display: flex;
  min-height: calc(100vh - var(--heigth-footer));
  flex-direction: column;
}

.wrapper {
  flex: 1;
}