.bg-color {
  background-color: rgb(101, 120, 141);
  color: beige;
}

.is-rounded {
  border-radius: 50% !important;
}

.btn {
  margin-left: auto;
}

.btn-size {
  font-size: 0.7rem;
}

.m-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.card-footer-item {
  display: block;
}

.block {
  display: block;
}
